#Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import math

#Load Data

In [ ]:
bbl = pd.read_csv("https://raw.githubusercontent.com/Optimal-Lineup-T20-FYP/Datasets/main/BeforeWC/bbl_bbb_data.csv")
bpl = pd.read_csv("https://raw.githubusercontent.com/Optimal-Lineup-T20-FYP/Datasets/main/BeforeWC/bpl_bbb_data.csv")
cpl = pd.read_csv("https://raw.githubusercontent.com/Optimal-Lineup-T20-FYP/Datasets/main/BeforeWC/cpl_bbb_data.csv")
ipl = pd.read_csv("https://raw.githubusercontent.com/Optimal-Lineup-T20-FYP/Datasets/main/BeforeWC/ipl_bbb_data.csv")
psl = pd.read_csv("https://raw.githubusercontent.com/Optimal-Lineup-T20-FYP/Datasets/main/BeforeWC/psl_bbb_data.csv")
t20s = pd.read_csv("https://raw.githubusercontent.com/Optimal-Lineup-T20-FYP/Datasets/main/BeforeWC/t20s_bbb_data.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#Data Pre-processing

## Preprocessing ball data with respect to extras bowled in the previous ball

### bbl

In [ ]:
bbl['ball'].sort_values().unique()

array([ 0.1 ,  0.11,  0.2 ,  0.3 ,  0.4 ,  0.5 ,  0.6 ,  0.7 ,  0.8 ,
        0.9 ,  1.1 ,  1.2 ,  1.3 ,  1.4 ,  1.5 ,  1.6 ,  1.7 ,  1.8 ,
        1.9 ,  2.1 ,  2.2 ,  2.3 ,  2.4 ,  2.5 ,  2.6 ,  2.7 ,  2.8 ,
        2.9 ,  3.1 ,  3.2 ,  3.3 ,  3.4 ,  3.5 ,  3.6 ,  3.7 ,  3.8 ,
        3.9 ,  4.1 ,  4.11,  4.12,  4.2 ,  4.3 ,  4.4 ,  4.5 ,  4.6 ,
        4.7 ,  4.8 ,  4.9 ,  5.1 ,  5.2 ,  5.3 ,  5.4 ,  5.5 ,  5.6 ,
        5.7 ,  5.8 ,  5.9 ,  6.1 ,  6.2 ,  6.3 ,  6.4 ,  6.5 ,  6.6 ,
        6.7 ,  6.8 ,  6.9 ,  7.1 ,  7.2 ,  7.3 ,  7.4 ,  7.5 ,  7.6 ,
        7.7 ,  7.8 ,  7.9 ,  8.1 ,  8.2 ,  8.3 ,  8.4 ,  8.5 ,  8.6 ,
        8.7 ,  8.8 ,  8.9 ,  9.1 ,  9.2 ,  9.3 ,  9.4 ,  9.5 ,  9.6 ,
        9.7 ,  9.8 ,  9.9 , 10.1 , 10.11, 10.2 , 10.3 , 10.4 , 10.5 ,
       10.6 , 10.7 , 10.8 , 10.9 , 11.1 , 11.2 , 11.3 , 11.4 , 11.5 ,
       11.6 , 11.7 , 11.8 , 12.1 , 12.2 , 12.3 , 12.4 , 12.5 , 12.6 ,
       12.7 , 12.8 , 12.9 , 13.1 , 13.11, 13.2 , 13.3 , 13.4 , 13.5 ,
       13.6 , 13.7 , 13.8 , 13.9 , 14.1 , 14.2 , 14.3 , 14.4 , 14.5 ,
       14.6 , 14.7 , 14.8 , 14.9 , 15.1 , 15.2 , 15.3 , 15.4 , 15.5 ,
       15.6 , 15.7 , 15.8 , 15.9 , 16.1 , 16.2 , 16.3 , 16.4 , 16.5 ,
       16.6 , 16.7 , 16.8 , 16.9 , 17.1 , 17.2 , 17.3 , 17.4 , 17.5 ,
       17.6 , 17.7 , 17.8 , 17.9 , 18.1 , 18.2 , 18.3 , 18.4 , 18.5 ,
       18.6 , 18.7 , 18.8 , 18.9 , 19.1 , 19.2 , 19.3 , 19.4 , 19.5 ,
       19.6 , 19.7 , 19.8 , 19.9 ])

In [ ]:
for i in range(1,len(bbl)):
  if(bbl['match_id'][i] == bbl['match_id'][i-1] and bbl['innings'][i] == bbl['innings'][i-1]):
    if (not (math.isnan(bbl['wides'][i-1]))) or (not math.isnan(bbl['noballs'][i-1]) or (bbl['wicket_type'][i] == 'run out')):
      bbl['ball'][i] = bbl['ball'][i-1]
    elif(math.floor(bbl['ball'][i]) == math.floor(bbl['ball'][i-1])):
      bbl['ball'][i] = round(bbl['ball'][i-1]+.1,1)
      if(round(bbl['ball'][i] - math.floor(bbl['ball'][i]),1) > 0.6):
        curi = i
        while(bbl['ball'][curi] > math.floor(bbl['ball'][i]) and not bbl['legbyes'][curi] > 0):
          bbl['ball'][curi] = round(bbl['ball'][curi]-.1,1)
          curi -= 1

In [ ]:
bbl['ball'].sort_values().unique()

### bpl

In [ ]:
bpl['ball'].sort_values().unique()

In [ ]:
for i in range(1,len(bpl)):
  if(bpl['match_id'][i] == bpl['match_id'][i-1] and bpl['innings'][i] == bpl['innings'][i-1]):
    if (not (math.isnan(bpl['wides'][i-1]))) or (not math.isnan(bpl['noballs'][i-1]) or (bpl['wicket_type'][i] == 'run out')):
      bpl['ball'][i] = bpl['ball'][i-1]
    elif(math.floor(bpl['ball'][i]) == math.floor(bpl['ball'][i-1])):
      bpl['ball'][i] = round(bpl['ball'][i-1]+.1,1)
      if(round(bpl['ball'][i] - math.floor(bpl['ball'][i]),1) > 0.6):
        curi = i
        while(bpl['ball'][curi] > math.floor(bpl['ball'][i]) and not bpl['legbyes'][curi] > 0):
          bpl['ball'][curi] = round(bpl['ball'][curi]-.1,1)
          curi -= 1

In [ ]:
bpl['ball'].sort_values().unique()

### cpl

In [ ]:
cpl['ball'].sort_values().unique()

In [ ]:
for i in range(1,len(cpl)):
  if(cpl['match_id'][i] == cpl['match_id'][i-1] and cpl['innings'][i] == cpl['innings'][i-1]):
    if (not (math.isnan(cpl['wides'][i-1]))) or (not math.isnan(cpl['noballs'][i-1]) or (cpl['wicket_type'][i] == 'run out')):
      cpl['ball'][i] = cpl['ball'][i-1]
    elif(math.floor(cpl['ball'][i]) == math.floor(cpl['ball'][i-1])):
      cpl['ball'][i] = round(cpl['ball'][i-1]+.1,1)
      if(round(cpl['ball'][i] - math.floor(cpl['ball'][i]),1) > 0.6):
        curi = i
        while(cpl['ball'][curi] > math.floor(cpl['ball'][i]) and not cpl['legbyes'][curi] > 0):
          cpl['ball'][curi] = round(cpl['ball'][curi]-.1,1)
          curi -= 1

In [ ]:
cpl['ball'].sort_values().unique()

### ipl

In [ ]:
ipl.drop(ipl[(ipl['match_id'] == 1136564) | (ipl['match_id'] == 419155)].index, inplace = True)
ipl.reset_index(drop=True, inplace = True)

In [ ]:
ipl['ball'].sort_values().unique()

In [ ]:
for i in range(1,len(ipl)):
  if(ipl['match_id'][i] == ipl['match_id'][i-1] and ipl['innings'][i] == ipl['innings'][i-1]):
    if (not (math.isnan(ipl['wides'][i-1]))) or (not math.isnan(ipl['noballs'][i-1]) or (ipl['wicket_type'][i] == 'run out')):
      ipl['ball'][i] = ipl['ball'][i-1]
    elif(math.floor(ipl['ball'][i]) == math.floor(ipl['ball'][i-1])):
      ipl['ball'][i] = round(ipl['ball'][i-1]+.1,1)
      if(round(ipl['ball'][i] - math.floor(ipl['ball'][i]),1) > 0.6):
        curi = i
        while(ipl['ball'][curi] > math.floor(ipl['ball'][i]) and not ipl['legbyes'][curi] > 0):
          ipl['ball'][curi] = round(ipl['ball'][curi]-.1,1)
          curi -= 1

In [ ]:
ipl['ball'].sort_values().unique()

In [ ]:
# matchid: 1136564, 419155
# rows: 25785, 104660

### psl

In [ ]:
psl.drop(psl[psl['match_id'] == 1168820].index, inplace = True)
psl.reset_index(drop=True, inplace = True)

In [ ]:
psl['ball'].sort_values().unique()

In [ ]:
for i in range(1,len(psl)):
  if(psl['match_id'][i] == psl['match_id'][i-1] and psl['innings'][i] == psl['innings'][i-1]):
    if (not (math.isnan(psl['wides'][i-1]))) or (not math.isnan(psl['noballs'][i-1]) or (psl['wicket_type'][i] == 'run out')):
      psl['ball'][i] = psl['ball'][i-1]
    elif(math.floor(psl['ball'][i]) == math.floor(psl['ball'][i-1])):
      psl['ball'][i] = round(psl['ball'][i-1]+.1,1)
      if(round(psl['ball'][i] - math.floor(psl['ball'][i]),1) > 0.6):
        curi = i
        while(psl['ball'][curi] > math.floor(psl['ball'][i]) and not psl['legbyes'][curi] > 0):
          psl['ball'][curi] = round(psl['ball'][curi]-.1,1)
          curi -= 1

In [ ]:
psl['ball'].sort_values().unique()

In [ ]:
# match id: 1168820
# penalty ball count?

### t20s

In [ ]:
t20s.drop([51317, 51421], inplace = True)
t20s.reset_index(drop=True, inplace = True)

In [ ]:
t20s['ball'].sort_values().unique()

array([ 0.1 ,  0.11,  0.2 ,  0.3 ,  0.4 ,  0.5 ,  0.6 ,  0.7 ,  0.8 ,
        0.9 ,  1.1 ,  1.2 ,  1.3 ,  1.4 ,  1.5 ,  1.6 ,  1.7 ,  1.8 ,
        1.9 ,  2.1 ,  2.2 ,  2.3 ,  2.4 ,  2.5 ,  2.6 ,  2.7 ,  2.8 ,
        2.9 ,  3.1 ,  3.2 ,  3.3 ,  3.4 ,  3.5 ,  3.6 ,  3.7 ,  3.8 ,
        3.9 ,  4.1 ,  4.2 ,  4.3 ,  4.4 ,  4.5 ,  4.6 ,  4.7 ,  4.8 ,
        4.9 ,  5.1 ,  5.2 ,  5.3 ,  5.4 ,  5.5 ,  5.6 ,  5.7 ,  5.8 ,
        5.9 ,  6.1 ,  6.2 ,  6.3 ,  6.4 ,  6.5 ,  6.6 ,  6.7 ,  6.8 ,
        6.9 ,  7.1 ,  7.11,  7.2 ,  7.3 ,  7.4 ,  7.5 ,  7.6 ,  7.7 ,
        7.8 ,  7.9 ,  8.1 ,  8.2 ,  8.3 ,  8.4 ,  8.5 ,  8.6 ,  8.7 ,
        8.8 ,  8.9 ,  9.1 ,  9.2 ,  9.3 ,  9.4 ,  9.5 ,  9.6 ,  9.7 ,
        9.8 ,  9.9 , 10.1 , 10.2 , 10.3 , 10.4 , 10.5 , 10.6 , 10.7 ,
       10.8 , 10.9 , 11.1 , 11.11, 11.12, 11.2 , 11.3 , 11.4 , 11.5 ,
       11.6 , 11.7 , 11.8 , 11.9 , 12.1 , 12.2 , 12.3 , 12.4 , 12.5 ,
       12.6 , 12.7 , 12.8 , 12.9 , 13.1 , 13.2 , 13.3 , 13.4 , 13.5 ,
       13.6 , 13.7 , 13.8 , 13.9 , 14.1 , 14.2 , 14.3 , 14.4 , 14.5 ,
       14.6 , 14.7 , 14.8 , 14.9 , 15.1 , 15.2 , 15.3 , 15.4 , 15.5 ,
       15.6 , 15.7 , 15.8 , 15.9 , 16.1 , 16.2 , 16.3 , 16.4 , 16.5 ,
       16.6 , 16.7 , 16.8 , 16.9 , 17.1 , 17.2 , 17.3 , 17.4 , 17.5 ,
       17.6 , 17.7 , 17.8 , 17.9 , 18.1 , 18.11, 18.2 , 18.3 , 18.4 ,
       18.5 , 18.6 , 18.7 , 18.8 , 18.9 , 19.1 , 19.2 , 19.3 , 19.4 ,
       19.5 , 19.6 , 19.7 , 19.8 , 19.9 ])

In [ ]:
for i in range(1,len(t20s)):
  if(t20s['match_id'][i] == t20s['match_id'][i-1] and t20s['innings'][i] == t20s['innings'][i-1]):
    if (not (math.isnan(t20s['wides'][i-1]))) or (not math.isnan(t20s['noballs'][i-1]) or (t20s['wicket_type'][i] == 'run out')):
      t20s['ball'][i] = t20s['ball'][i-1]
    elif(math.floor(t20s['ball'][i]) == math.floor(t20s['ball'][i-1])):
      t20s['ball'][i] = round(t20s['ball'][i-1]+.1,1)
      if(round(t20s['ball'][i] - math.floor(t20s['ball'][i]),1) > 0.6):
        print(i)
        curi = i
        while(t20s['ball'][curi] > math.floor(t20s['ball'][i]) and not t20s['legbyes'][curi] > 0):
          t20s['ball'][curi] = round(t20s['ball'][curi]-.1,1)
          curi -= 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

3854
3958

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

12623
47018
122624

In [ ]:
t20s['ball'].sort_values().unique()

array([ 0. ,  0.1,  0.2,  0.3,  0.4,  0.5,  0.6,  1.1,  1.2,  1.3,  1.4,
        1.5,  1.6,  2.1,  2.2,  2.3,  2.4,  2.5,  2.6,  3.1,  3.2,  3.3,
        3.4,  3.5,  3.6,  4. ,  4.1,  4.2,  4.3,  4.4,  4.5,  4.6,  5.1,
        5.2,  5.3,  5.4,  5.5,  5.6,  6.1,  6.2,  6.3,  6.4,  6.5,  6.6,
        7.1,  7.2,  7.3,  7.4,  7.5,  7.6,  8.1,  8.2,  8.3,  8.4,  8.5,
        8.6,  9.1,  9.2,  9.3,  9.4,  9.5,  9.6, 10.1, 10.2, 10.3, 10.4,
       10.5, 10.6, 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 12.1, 12.2, 12.3,
       12.4, 12.5, 12.6, 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 14.1, 14.2,
       14.3, 14.4, 14.5, 14.6, 15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 16. ,
       16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 17. , 17.1, 17.2, 17.3, 17.4,
       17.5, 17.6, 18. , 18.1, 18.2, 18.3, 18.4, 18.5, 18.6, 19. , 19.1,
       19.2, 19.3, 19.4, 19.5, 19.6])

#Basic Features

1. Total runs scored
2. Striker Score
3. Balls Remaining
4. Wickets Remaining
5. Partnership

In [ ]:
t20s.shape[0]

146062

#Feature Engineering

## bbl

In [ ]:
bbl['total_runs_scored'] = 0
bbl['wickets_remaining'] = 10
bbl['balls_remaining'] = 120
bbl["striker_score"] = 0
bbl["non_striker_score"] = 0
bbl['partnership'] = 0

In [ ]:
for i in range (1,len(bbl)):
  if bbl['ball'][i]!=0.1 or (bbl['ball'][i]==0.1 and bbl['ball'][i-1]==0.1):
    bbl['total_runs_scored'][i] = bbl['total_runs_scored'][i-1] + bbl['runs_off_bat'][i-1] + bbl['extras'][i-1]
    if isinstance(bbl['wicket_type'][i-1],float) and math.isnan(bbl['wicket_type'][i-1]):
      bbl['wickets_remaining'][i] = bbl['wickets_remaining'][i-1]
    else:
      bbl['wickets_remaining'][i] = bbl['wickets_remaining'][i-1] - 1

for i in range(0,len(bbl)):
  bbl['balls_remaining'][i] = (120 - (((bbl['ball'][i])*10)//10)*6 - (bbl['ball'][i]*10)%10) + 1

bat1 = ""
bat2 = ""
for i in range (1,len(bbl)):
  if bbl['ball'][i] == 0.1 and bbl['ball'][i-1]!=0.1:
    bbl['striker_score'][i] = 0
    bbl['non_striker_score'][i] = 0
    continue
  bat1 = bbl['striker'][i]
  bat2 = bbl['non_striker'][i]
  #if strike is retained, striker score += runs scored in previous ball, and non striker score remains the same
  if bat1==bbl['striker'][i-1] and bat2==bbl['non_striker'][i-1]:
    bbl['striker_score'][i] = bbl['striker_score'][i-1] + bbl['runs_off_bat'][i-1]
    bbl['non_striker_score'][i] = bbl['non_striker_score'][i-1]
  #if there is a change in strike - strikers score - non striker's score, non strikers score += runs scored in prev ball
  elif bat2==bbl['striker'][i-1] and bat1==bbl['non_striker'][i-1]:
    bbl['striker_score'][i] = bbl['non_striker_score'][i-1] 
    bbl['non_striker_score'][i] = bbl['striker_score'][i-1] + bbl['runs_off_bat'][i-1]
  #fall of a wicket
  else:
    playerout = bbl['player_dismissed'][i-1]
    #check if current striker is prev ball's striker - add runs off bat to striker, non striker - new batsman  - 0
    if bat1 == bbl['striker'][i-1]:
      bbl['striker_score'][i] = bbl['striker_score'][i-1] + bbl['runs_off_bat'][i-1]
      bbl['non_striker_score'][i] = 0
    #check if current striker is prev ball's non striker - add runs off bat to striker, non striker - new batsman  - 0
    elif bat1 == bbl['non_striker'][i-1]:
      bbl['striker_score'][i] = bbl['non_striker_score'][i-1]
      bbl['non_striker_score'][i] = 0
    else:
      bbl['striker_score'][i] = 0
      if bat2 == bbl['striker'][i-1]:
        bbl['non_striker_score'][i] = bbl['striker_score'][i-1] + bbl['runs_off_bat'][i-1]
      elif bat2 == bbl['non_striker'][i-1]:
        bbl['non_striker_score'][i] = bbl['non_striker_score'][i-1]

def isNaN(string):
  return string != string

for i in range (1,len(bbl)):
  if bbl['ball'][i] == 0.1 and bbl['ball'][i-1]!=0.1:
    continue
  #if player is dismissed in previous ball
  if not isNaN(bbl['player_dismissed'][i-1]):
    bbl['partnership'][i]=0
  else:
    bbl['partnership'][i] = bbl['partnership'][i-1] + bbl['runs_off_bat'][i-1] + bbl['extras'][i-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
bbl.head(10)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_runs_scored,wickets_remaining,balls_remaining,striker_score,non_striker_score,partnership
0,0,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,0.1,Brisbane Heat,Sydney Thunder,M Bryant,...,NaN,NaN,NaN,NaN,0,10,120,0,0,0
1,1,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,0.2,Brisbane Heat,Sydney Thunder,M Bryant,...,NaN,NaN,NaN,NaN,0,10,119,0,0,0
2,2,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,0.3,Brisbane Heat,Sydney Thunder,BB McCullum,...,NaN,NaN,NaN,NaN,1,10,118,0,0,1
3,3,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,0.4,Brisbane Heat,Sydney Thunder,BB McCullum,...,NaN,NaN,NaN,NaN,1,10,117,0,0,1
4,4,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,0.5,Brisbane Heat,Sydney Thunder,M Bryant,...,NaN,NaN,NaN,NaN,2,10,116,0,1,2
5,5,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,0.6,Brisbane Heat,Sydney Thunder,M Bryant,...,NaN,NaN,NaN,NaN,2,10,115,0,1,2
6,6,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,1.1,Brisbane Heat,Sydney Thunder,BB McCullum,...,NaN,NaN,NaN,NaN,6,10,114,1,4,6
7,7,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,1.2,Brisbane Heat,Sydney Thunder,M Bryant,...,NaN,NaN,NaN,NaN,7,10,113,4,2,7
8,8,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,1.3,Brisbane Heat,Sydney Thunder,BB McCullum,...,NaN,NaN,NaN,NaN,8,10,112,2,5,8
9,9,1152534,2018/19,2019-01-08,Sydney Showground Stadium,1,1.4,Brisbane Heat,Sydney Thunder,BB McCullum,...,NaN,NaN,NaN,NaN,8,10,111,2,5,8

## bpl

In [ ]:
bpl['total_runs_scored'] = 0
bpl['wickets_remaining'] = 10
bpl['balls_remaining'] = 120
bpl["striker_score"] = 0
bpl["non_striker_score"] = 0
bpl['partnership'] = 0

In [ ]:
for i in range (1,len(bpl)):
  if bpl['ball'][i]!=0.1 or (bpl['ball'][i]==0.1 and bpl['ball'][i-1]==0.1):
    bpl['total_runs_scored'][i] = bpl['total_runs_scored'][i-1] + bpl['runs_off_bat'][i-1] + bpl['extras'][i-1]
    if isinstance(bpl['wicket_type'][i-1],float) and math.isnan(bpl['wicket_type'][i-1]):
      bpl['wickets_remaining'][i] = bpl['wickets_remaining'][i-1]
    else:
      bpl['wickets_remaining'][i] = bpl['wickets_remaining'][i-1] - 1

for i in range(0,len(bpl)):
  bpl['balls_remaining'][i] = (120 - (((bpl['ball'][i])*10)//10)*6 - (bpl['ball'][i]*10)%10) + 1

bat1 = ""
bat2 = ""
for i in range (1,len(bpl)):
  if bpl['ball'][i] == 0.1 and bpl['ball'][i-1]!=0.1:
    bpl['striker_score'][i] = 0
    bpl['non_striker_score'][i] = 0
    continue
  bat1 = bpl['striker'][i]
  bat2 = bpl['non_striker'][i]
  #if strike is retained, striker score += runs scored in previous ball, and non striker score remains the same
  if bat1==bpl['striker'][i-1] and bat2==bpl['non_striker'][i-1]:
    bpl['striker_score'][i] = bpl['striker_score'][i-1] + bpl['runs_off_bat'][i-1]
    bpl['non_striker_score'][i] = bpl['non_striker_score'][i-1]
  #if there is a change in strike - strikers score - non striker's score, non strikers score += runs scored in prev ball
  elif bat2==bpl['striker'][i-1] and bat1==bpl['non_striker'][i-1]:
    bpl['striker_score'][i] = bpl['non_striker_score'][i-1] 
    bpl['non_striker_score'][i] = bpl['striker_score'][i-1] + bpl['runs_off_bat'][i-1]
  #fall of a wicket
  else:
    playerout = bpl['player_dismissed'][i-1]
    #check if current striker is prev ball's striker - add runs off bat to striker, non striker - new batsman  - 0
    if bat1 == bpl['striker'][i-1]:
      bpl['striker_score'][i] = bpl['striker_score'][i-1] + bpl['runs_off_bat'][i-1]
      bpl['non_striker_score'][i] = 0
    #check if current striker is prev ball's non striker - add runs off bat to striker, non striker - new batsman  - 0
    elif bat1 == bpl['non_striker'][i-1]:
      bpl['striker_score'][i] = bpl['non_striker_score'][i-1]
      bpl['non_striker_score'][i] = 0
    else:
      bpl['striker_score'][i] = 0
      if bat2 == bpl['striker'][i-1]:
        bpl['non_striker_score'][i] = bpl['striker_score'][i-1] + bpl['runs_off_bat'][i-1]
      elif bat2 == bpl['non_striker'][i-1]:
        bpl['non_striker_score'][i] = bpl['non_striker_score'][i-1]

def isNaN(string):
  return string != string

for i in range (1,len(bpl)):
  if bpl['ball'][i] == 0.1 and bpl['ball'][i-1]!=0.1:
    continue
  #if player is dismissed in previous ball
  if not isNaN(bpl['player_dismissed'][i-1]):
    bpl['partnership'][i]=0
  else:
    bpl['partnership'][i] = bpl['partnership'][i-1] + bpl['runs_off_bat'][i-1] + bpl['extras'][i-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
bpl.head(10)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_runs_scored,wickets_remaining,balls_remaining,striker_score,non_striker_score,partnership
0,0,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,0.1,Barisal Bulls,Chittagong Vikings,E Lewis,...,NaN,NaN,NaN,NaN,0,10,120,0,0,0
1,1,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,0.2,Barisal Bulls,Chittagong Vikings,E Lewis,...,NaN,NaN,NaN,NaN,0,10,119,0,0,0
2,2,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,0.3,Barisal Bulls,Chittagong Vikings,E Lewis,...,lbw,E Lewis,NaN,NaN,4,10,118,4,0,4
3,3,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,0.4,Barisal Bulls,Chittagong Vikings,Mehedi Maruf,...,NaN,NaN,NaN,NaN,4,9,117,0,0,0
4,4,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,0.5,Barisal Bulls,Chittagong Vikings,Mehedi Maruf,...,NaN,NaN,NaN,NaN,8,9,116,4,0,4
5,5,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,0.6,Barisal Bulls,Chittagong Vikings,Rony Talukdar,...,NaN,NaN,NaN,NaN,9,9,115,0,5,5
6,6,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,1.1,Barisal Bulls,Chittagong Vikings,Mehedi Maruf,...,NaN,NaN,NaN,NaN,9,9,114,5,0,5
7,7,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,1.2,Barisal Bulls,Chittagong Vikings,Rony Talukdar,...,lbw,Rony Talukdar,NaN,NaN,10,9,113,0,6,6
8,8,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,1.3,Barisal Bulls,Chittagong Vikings,Sabbir Rahman,...,NaN,NaN,NaN,NaN,10,8,112,0,6,0
9,9,935307,2015/16,2015-11-30,"Zahur Ahmed Chowdhury Stadium, Chittagong",1,1.4,Barisal Bulls,Chittagong Vikings,Sabbir Rahman,...,NaN,NaN,NaN,NaN,10,8,111,0,6,0

## cpl

In [ ]:
cpl['total_runs_scored'] = 0
cpl['wickets_remaining'] = 10
cpl['balls_remaining'] = 120
cpl["striker_score"] = 0
cpl["non_striker_score"] = 0
cpl['partnership'] = 0

In [ ]:
for i in range (1,len(cpl)):
  if cpl['ball'][i]!=0.1 or (cpl['ball'][i]==0.1 and cpl['ball'][i-1]==0.1):
    cpl['total_runs_scored'][i] = cpl['total_runs_scored'][i-1] + cpl['runs_off_bat'][i-1] + cpl['extras'][i-1]
    if isinstance(cpl['wicket_type'][i-1],float) and math.isnan(cpl['wicket_type'][i-1]):
      cpl['wickets_remaining'][i] = cpl['wickets_remaining'][i-1]
    else:
      cpl['wickets_remaining'][i] = cpl['wickets_remaining'][i-1] - 1

for i in range(0,len(cpl)):
  cpl['balls_remaining'][i] = (120 - (((cpl['ball'][i])*10)//10)*6 - (cpl['ball'][i]*10)%10) + 1

bat1 = ""
bat2 = ""
for i in range (1,len(cpl)):
  if cpl['ball'][i] == 0.1 and cpl['ball'][i-1]!=0.1:
    cpl['striker_score'][i] = 0
    cpl['non_striker_score'][i] = 0
    continue
  bat1 = cpl['striker'][i]
  bat2 = cpl['non_striker'][i]
  #if strike is retained, striker score += runs scored in previous ball, and non striker score remains the same
  if bat1==cpl['striker'][i-1] and bat2==cpl['non_striker'][i-1]:
    cpl['striker_score'][i] = cpl['striker_score'][i-1] + cpl['runs_off_bat'][i-1]
    cpl['non_striker_score'][i] = cpl['non_striker_score'][i-1]
  #if there is a change in strike - strikers score - non striker's score, non strikers score += runs scored in prev ball
  elif bat2==cpl['striker'][i-1] and bat1==cpl['non_striker'][i-1]:
    cpl['striker_score'][i] = cpl['non_striker_score'][i-1] 
    cpl['non_striker_score'][i] = cpl['striker_score'][i-1] + cpl['runs_off_bat'][i-1]
  #fall of a wicket
  else:
    playerout = cpl['player_dismissed'][i-1]
    #check if current striker is prev ball's striker - add runs off bat to striker, non striker - new batsman  - 0
    if bat1 == cpl['striker'][i-1]:
      cpl['striker_score'][i] = cpl['striker_score'][i-1] + cpl['runs_off_bat'][i-1]
      cpl['non_striker_score'][i] = 0
    #check if current striker is prev ball's non striker - add runs off bat to striker, non striker - new batsman  - 0
    elif bat1 == cpl['non_striker'][i-1]:
      cpl['striker_score'][i] = cpl['non_striker_score'][i-1]
      cpl['non_striker_score'][i] = 0
    else:
      cpl['striker_score'][i] = 0
      if bat2 == cpl['striker'][i-1]:
        cpl['non_striker_score'][i] = cpl['striker_score'][i-1] + cpl['runs_off_bat'][i-1]
      elif bat2 == cpl['non_striker'][i-1]:
        cpl['non_striker_score'][i] = cpl['non_striker_score'][i-1]

def isNaN(string):
  return string != string

for i in range (1,len(cpl)):
  if cpl['ball'][i] == 0.1 and cpl['ball'][i-1]!=0.1:
    continue
  #if player is dismissed in previous ball
  if not isNaN(cpl['player_dismissed'][i-1]):
    cpl['partnership'][i]=0
  else:
    cpl['partnership'][i] = cpl['partnership'][i-1] + cpl['runs_off_bat'][i-1] + cpl['extras'][i-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
cpl.head(10)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_runs_scored,wickets_remaining,balls_remaining,striker_score,non_striker_score,partnership
0,0,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,0.1,Guyana Amazon Warriors,Trinbago Knight Riders,CAK Walton,...,NaN,NaN,NaN,NaN,0,10,120,0,0,0
1,1,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,0.2,Guyana Amazon Warriors,Trinbago Knight Riders,MJ Guptill,...,NaN,NaN,NaN,NaN,1,10,119,0,1,1
2,2,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,0.3,Guyana Amazon Warriors,Trinbago Knight Riders,MJ Guptill,...,NaN,NaN,NaN,NaN,1,10,118,0,1,1
3,3,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,0.4,Guyana Amazon Warriors,Trinbago Knight Riders,MJ Guptill,...,NaN,NaN,NaN,NaN,1,10,117,0,1,1
4,4,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,0.5,Guyana Amazon Warriors,Trinbago Knight Riders,MJ Guptill,...,NaN,NaN,NaN,NaN,1,10,116,0,1,1
5,5,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,0.6,Guyana Amazon Warriors,Trinbago Knight Riders,CAK Walton,...,NaN,NaN,NaN,NaN,2,10,115,1,1,2
6,6,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,1.1,Guyana Amazon Warriors,Trinbago Knight Riders,MJ Guptill,...,NaN,NaN,NaN,NaN,2,10,114,1,1,2
7,7,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,1.2,Guyana Amazon Warriors,Trinbago Knight Riders,MJ Guptill,...,NaN,NaN,NaN,NaN,6,10,113,5,1,6
8,8,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,1.3,Guyana Amazon Warriors,Trinbago Knight Riders,MJ Guptill,...,NaN,NaN,NaN,NaN,12,10,112,11,1,12
9,9,1094680,2017,2017-08-11,"Queen's Park Oval, Port of Spain",1,1.4,Guyana Amazon Warriors,Trinbago Knight Riders,MJ Guptill,...,NaN,NaN,NaN,NaN,14,10,111,13,1,14

## ipl

In [ ]:
ipl['total_runs_scored'] = 0
ipl['wickets_remaining'] = 10
ipl['balls_remaining'] = 120
ipl["striker_score"] = 0
ipl["non_striker_score"] = 0
ipl['partnership'] = 0

In [ ]:
for i in range (1,len(ipl)):
  if ipl['ball'][i]!=0.1 or (ipl['ball'][i]==0.1 and ipl['ball'][i-1]==0.1):
    ipl['total_runs_scored'][i] = ipl['total_runs_scored'][i-1] + ipl['runs_off_bat'][i-1] + ipl['extras'][i-1]
    if isinstance(ipl['wicket_type'][i-1],float) and math.isnan(ipl['wicket_type'][i-1]):
      ipl['wickets_remaining'][i] = ipl['wickets_remaining'][i-1]
    else:
      ipl['wickets_remaining'][i] = ipl['wickets_remaining'][i-1] - 1

for i in range(0,len(ipl)):
  ipl['balls_remaining'][i] = (120 - (((ipl['ball'][i])*10)//10)*6 - (ipl['ball'][i]*10)%10) + 1

bat1 = ""
bat2 = ""
for i in range (1,len(ipl)):
  if ipl['ball'][i] == 0.1 and ipl['ball'][i-1]!=0.1:
    ipl['striker_score'][i] = 0
    ipl['non_striker_score'][i] = 0
    continue
  bat1 = ipl['striker'][i]
  bat2 = ipl['non_striker'][i]
  #if strike is retained, striker score += runs scored in previous ball, and non striker score remains the same
  if bat1==ipl['striker'][i-1] and bat2==ipl['non_striker'][i-1]:
    ipl['striker_score'][i] = ipl['striker_score'][i-1] + ipl['runs_off_bat'][i-1]
    ipl['non_striker_score'][i] = ipl['non_striker_score'][i-1]
  #if there is a change in strike - strikers score - non striker's score, non strikers score += runs scored in prev ball
  elif bat2==ipl['striker'][i-1] and bat1==ipl['non_striker'][i-1]:
    ipl['striker_score'][i] = ipl['non_striker_score'][i-1] 
    ipl['non_striker_score'][i] = ipl['striker_score'][i-1] + ipl['runs_off_bat'][i-1]
  #fall of a wicket
  else:
    playerout = ipl['player_dismissed'][i-1]
    #check if current striker is prev ball's striker - add runs off bat to striker, non striker - new batsman  - 0
    if bat1 == ipl['striker'][i-1]:
      ipl['striker_score'][i] = ipl['striker_score'][i-1] + ipl['runs_off_bat'][i-1]
      ipl['non_striker_score'][i] = 0
    #check if current striker is prev ball's non striker - add runs off bat to striker, non striker - new batsman  - 0
    elif bat1 == ipl['non_striker'][i-1]:
      ipl['striker_score'][i] = ipl['non_striker_score'][i-1]
      ipl['non_striker_score'][i] = 0
    else:
      ipl['striker_score'][i] = 0
      if bat2 == ipl['striker'][i-1]:
        ipl['non_striker_score'][i] = ipl['striker_score'][i-1] + ipl['runs_off_bat'][i-1]
      elif bat2 == ipl['non_striker'][i-1]:
        ipl['non_striker_score'][i] = ipl['non_striker_score'][i-1]

def isNaN(string):
  return string != string

for i in range (1,len(ipl)):
  if ipl['ball'][i] == 0.1 and ipl['ball'][i-1]!=0.1:
    continue
  #if player is dismissed in previous ball
  if not isNaN(ipl['player_dismissed'][i-1]):
    ipl['partnership'][i]=0
  else:
    ipl['partnership'][i] = ipl['partnership'][i-1] + ipl['runs_off_bat'][i-1] + ipl['extras'][i-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
ipl.head(10)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_runs_scored,wickets_remaining,balls_remaining,striker_score,non_striker_score,partnership
0,0,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,0.1,Royal Challengers Bangalore,Mumbai Indians,CH Gayle,...,NaN,NaN,NaN,NaN,0,10,120,0,0,0
1,1,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,0.2,Royal Challengers Bangalore,Mumbai Indians,CH Gayle,...,NaN,NaN,NaN,NaN,0,10,119,0,0,0
2,2,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,0.3,Royal Challengers Bangalore,Mumbai Indians,CH Gayle,...,NaN,NaN,NaN,NaN,0,10,118,0,0,0
3,3,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,0.4,Royal Challengers Bangalore,Mumbai Indians,TM Dilshan,...,NaN,NaN,NaN,NaN,1,10,117,0,1,1
4,4,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,0.5,Royal Challengers Bangalore,Mumbai Indians,TM Dilshan,...,NaN,NaN,NaN,NaN,1,10,116,0,1,1
5,5,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,0.6,Royal Challengers Bangalore,Mumbai Indians,TM Dilshan,...,NaN,NaN,NaN,NaN,1,10,115,0,1,1
6,6,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,1.1,Royal Challengers Bangalore,Mumbai Indians,CH Gayle,...,NaN,NaN,NaN,NaN,1,10,114,1,0,1
7,7,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,1.2,Royal Challengers Bangalore,Mumbai Indians,CH Gayle,...,NaN,NaN,NaN,NaN,1,10,113,1,0,1
8,8,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,1.3,Royal Challengers Bangalore,Mumbai Indians,TM Dilshan,...,NaN,NaN,NaN,NaN,2,10,112,0,2,2
9,9,597999,2013,2013-04-04,M Chinnaswamy Stadium,1,1.4,Royal Challengers Bangalore,Mumbai Indians,TM Dilshan,...,NaN,NaN,NaN,NaN,2,10,111,0,2,2

## psl

In [ ]:
psl['total_runs_scored'] = 0
psl['wickets_remaining'] = 10
psl['balls_remaining'] = 120
psl["striker_score"] = 0
psl["non_striker_score"] = 0
psl['partnership'] = 0

In [ ]:
for i in range (1,len(psl)):
  if psl['ball'][i]!=0.1 or (psl['ball'][i]==0.1 and psl['ball'][i-1]==0.1):
    psl['total_runs_scored'][i] = psl['total_runs_scored'][i-1] + psl['runs_off_bat'][i-1] + psl['extras'][i-1]
    if isinstance(psl['wicket_type'][i-1],float) and math.isnan(psl['wicket_type'][i-1]):
      psl['wickets_remaining'][i] = psl['wickets_remaining'][i-1]
    else:
      psl['wickets_remaining'][i] = psl['wickets_remaining'][i-1] - 1

for i in range(0,len(psl)):
  psl['balls_remaining'][i] = (120 - (((psl['ball'][i])*10)//10)*6 - (psl['ball'][i]*10)%10) + 1

bat1 = ""
bat2 = ""
for i in range (1,len(psl)):
  if psl['ball'][i] == 0.1 and psl['ball'][i-1]!=0.1:
    psl['striker_score'][i] = 0
    psl['non_striker_score'][i] = 0
    continue
  bat1 = psl['striker'][i]
  bat2 = psl['non_striker'][i]
  #if strike is retained, striker score += runs scored in previous ball, and non striker score remains the same
  if bat1==psl['striker'][i-1] and bat2==psl['non_striker'][i-1]:
    psl['striker_score'][i] = psl['striker_score'][i-1] + psl['runs_off_bat'][i-1]
    psl['non_striker_score'][i] = psl['non_striker_score'][i-1]
  #if there is a change in strike - strikers score - non striker's score, non strikers score += runs scored in prev ball
  elif bat2==psl['striker'][i-1] and bat1==psl['non_striker'][i-1]:
    psl['striker_score'][i] = psl['non_striker_score'][i-1] 
    psl['non_striker_score'][i] = psl['striker_score'][i-1] + psl['runs_off_bat'][i-1]
  #fall of a wicket
  else:
    playerout = psl['player_dismissed'][i-1]
    #check if current striker is prev ball's striker - add runs off bat to striker, non striker - new batsman  - 0
    if bat1 == psl['striker'][i-1]:
      psl['striker_score'][i] = psl['striker_score'][i-1] + psl['runs_off_bat'][i-1]
      psl['non_striker_score'][i] = 0
    #check if current striker is prev ball's non striker - add runs off bat to striker, non striker - new batsman  - 0
    elif bat1 == psl['non_striker'][i-1]:
      psl['striker_score'][i] = psl['non_striker_score'][i-1]
      psl['non_striker_score'][i] = 0
    else:
      psl['striker_score'][i] = 0
      if bat2 == psl['striker'][i-1]:
        psl['non_striker_score'][i] = psl['striker_score'][i-1] + psl['runs_off_bat'][i-1]
      elif bat2 == psl['non_striker'][i-1]:
        psl['non_striker_score'][i] = psl['non_striker_score'][i-1]

def isNaN(string):
  return string != string

for i in range (1,len(psl)):
  if psl['ball'][i] == 0.1 and psl['ball'][i-1]!=0.1:
    continue
  #if player is dismissed in previous ball
  if not isNaN(psl['player_dismissed'][i-1]):
    psl['partnership'][i]=0
  else:
    psl['partnership'][i] = psl['partnership'][i-1] + psl['runs_off_bat'][i-1] + psl['extras'][i-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
psl.head(10)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_runs_scored,wickets_remaining,balls_remaining,striker_score,non_striker_score,partnership
0,0,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,0.1,Islamabad United,Quetta Gladiators,DR Smith,...,NaN,NaN,NaN,NaN,0,10,120,0,0,0
1,1,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,0.2,Islamabad United,Quetta Gladiators,DR Smith,...,NaN,NaN,NaN,NaN,0,10,119,0,0,0
2,2,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,0.3,Islamabad United,Quetta Gladiators,DR Smith,...,caught,DR Smith,NaN,NaN,0,10,118,0,0,0
3,3,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,0.4,Islamabad United,Quetta Gladiators,Rafatullah Mohmand,...,NaN,NaN,NaN,NaN,0,9,117,0,0,0
4,4,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,0.5,Islamabad United,Quetta Gladiators,Rafatullah Mohmand,...,NaN,NaN,NaN,NaN,0,9,116,0,0,0
5,5,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,0.6,Islamabad United,Quetta Gladiators,Rafatullah Mohmand,...,NaN,NaN,NaN,NaN,0,9,115,0,0,0
6,6,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,1.1,Islamabad United,Quetta Gladiators,Hussain Talat,...,NaN,NaN,NaN,NaN,4,9,114,0,4,4
7,7,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,1.2,Islamabad United,Quetta Gladiators,Hussain Talat,...,NaN,NaN,NaN,NaN,4,9,113,0,4,4
8,8,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,1.3,Islamabad United,Quetta Gladiators,Hussain Talat,...,NaN,NaN,NaN,NaN,4,9,112,0,4,4
9,9,1076002,2016/17,2017-02-24,Dubai International Cricket Stadium,1,1.4,Islamabad United,Quetta Gladiators,Hussain Talat,...,NaN,NaN,NaN,NaN,4,9,111,0,4,4

## t20s

In [ ]:
t20s['total_runs_scored'] = 0
t20s['wickets_remaining'] = 10
t20s['balls_remaining'] = 120
t20s["striker_score"] = 0
t20s["non_striker_score"] = 0
t20s['partnership'] = 0

In [ ]:
for i in range (1,len(t20s)):
  if t20s['ball'][i]!=0.1 or (t20s['ball'][i]==0.1 and t20s['ball'][i-1]==0.1):
    t20s['total_runs_scored'][i] = t20s['total_runs_scored'][i-1] + t20s['runs_off_bat'][i-1] + t20s['extras'][i-1]
    if isinstance(t20s['wicket_type'][i-1],float) and math.isnan(t20s['wicket_type'][i-1]):
      t20s['wickets_remaining'][i] = t20s['wickets_remaining'][i-1]
    else:
      t20s['wickets_remaining'][i] = t20s['wickets_remaining'][i-1] - 1

for i in range(0,len(t20s)):
  t20s['balls_remaining'][i] = (120 - (((t20s['ball'][i])*10)//10)*6 - (t20s['ball'][i]*10)%10) + 1

bat1 = ""
bat2 = ""
for i in range (1,len(t20s)):
  if t20s['ball'][i] == 0.1 and t20s['ball'][i-1]!=0.1:
    t20s['striker_score'][i] = 0
    t20s['non_striker_score'][i] = 0
    continue
  bat1 = t20s['striker'][i]
  bat2 = t20s['non_striker'][i]
  #if strike is retained, striker score += runs scored in previous ball, and non striker score remains the same
  if bat1==t20s['striker'][i-1] and bat2==t20s['non_striker'][i-1]:
    t20s['striker_score'][i] = t20s['striker_score'][i-1] + t20s['runs_off_bat'][i-1]
    t20s['non_striker_score'][i] = t20s['non_striker_score'][i-1]
  #if there is a change in strike - strikers score - non striker's score, non strikers score += runs scored in prev ball
  elif bat2==t20s['striker'][i-1] and bat1==t20s['non_striker'][i-1]:
    t20s['striker_score'][i] = t20s['non_striker_score'][i-1] 
    t20s['non_striker_score'][i] = t20s['striker_score'][i-1] + t20s['runs_off_bat'][i-1]
  #fall of a wicket
  else:
    playerout = t20s['player_dismissed'][i-1]
    #check if current striker is prev ball's striker - add runs off bat to striker, non striker - new batsman  - 0
    if bat1 == t20s['striker'][i-1]:
      t20s['striker_score'][i] = t20s['striker_score'][i-1] + t20s['runs_off_bat'][i-1]
      t20s['non_striker_score'][i] = 0
    #check if current striker is prev ball's non striker - add runs off bat to striker, non striker - new batsman  - 0
    elif bat1 == t20s['non_striker'][i-1]:
      t20s['striker_score'][i] = t20s['non_striker_score'][i-1]
      t20s['non_striker_score'][i] = 0
    else:
      t20s['striker_score'][i] = 0
      if bat2 == t20s['striker'][i-1]:
        t20s['non_striker_score'][i] = t20s['striker_score'][i-1] + t20s['runs_off_bat'][i-1]
      elif bat2 == t20s['non_striker'][i-1]:
        t20s['non_striker_score'][i] = t20s['non_striker_score'][i-1]

def isNaN(string):
  return string != string

for i in range (1,len(t20s)):
  if t20s['ball'][i] == 0.1 and t20s['ball'][i-1]!=0.1:
    continue
  #if player is dismissed in previous ball
  if not isNaN(t20s['player_dismissed'][i-1]):
    t20s['partnership'][i]=0
  else:
    t20s['partnership'][i] = t20s['partnership'][i-1] + t20s['runs_off_bat'][i-1] + t20s['extras'][i-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
t20s.head(10)

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,total_runs_scored,wickets_remaining,balls_remaining,striker_score,non_striker_score,partnership
0,0,298804,2007/08,2008-01-18,New Wanderers Stadium,1,0.1,West Indies,South Africa,DS Smith,...,NaN,NaN,NaN,NaN,0,10,120,0,0,0
1,1,298804,2007/08,2008-01-18,New Wanderers Stadium,1,0.2,West Indies,South Africa,D Ramdin,...,NaN,NaN,NaN,NaN,1,10,119,0,1,1
2,2,298804,2007/08,2008-01-18,New Wanderers Stadium,1,0.3,West Indies,South Africa,D Ramdin,...,NaN,NaN,NaN,NaN,1,10,118,0,1,1
3,3,298804,2007/08,2008-01-18,New Wanderers Stadium,1,0.4,West Indies,South Africa,D Ramdin,...,NaN,NaN,NaN,NaN,1,10,117,0,1,1
4,4,298804,2007/08,2008-01-18,New Wanderers Stadium,1,0.5,West Indies,South Africa,D Ramdin,...,NaN,NaN,NaN,NaN,3,10,116,2,1,3
5,5,298804,2007/08,2008-01-18,New Wanderers Stadium,1,0.6,West Indies,South Africa,D Ramdin,...,NaN,NaN,NaN,NaN,3,10,115,2,1,3
6,6,298804,2007/08,2008-01-18,New Wanderers Stadium,1,1.1,West Indies,South Africa,DS Smith,...,NaN,NaN,NaN,NaN,3,10,114,1,2,3
7,7,298804,2007/08,2008-01-18,New Wanderers Stadium,1,1.2,West Indies,South Africa,D Ramdin,...,NaN,NaN,NaN,NaN,4,10,113,2,2,4
8,8,298804,2007/08,2008-01-18,New Wanderers Stadium,1,1.3,West Indies,South Africa,D Ramdin,...,NaN,NaN,NaN,NaN,4,10,112,2,2,4
9,9,298804,2007/08,2008-01-18,New Wanderers Stadium,1,1.4,West Indies,South Africa,D Ramdin,...,NaN,NaN,NaN,NaN,4,10,111,2,2,4

In [ ]:
t20s.groupby('batting_team').match_id.nunique().sort_values(ascending = False)

batting_team
Pakistan        145
Australia       142
New Zealand     139
West Indies     137
England         134
India           134
South Africa    134
Sri Lanka       132
Bangladesh       85
Afghanistan      38
Ireland          37
Name: match_id, dtype: int64

#Team Total, Target and Required Run Rate

##BBL

In [ ]:
##Innings 1
bbl_inn1 = bbl[bbl['innings']==1]
bbl_inn1['team_score'] = bbl_inn1['total_runs_scored'] + bbl_inn1['runs_off_bat'] + bbl_inn1['extras']
trs1 = bbl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'team_total'},inplace=True)
bbl_inn1 = pd.merge(trs1,bbl_inn1,on=["match_id"],how="inner")
#remaining runs is number of runs scored after that ball 
bbl_inn1['runs_remaining'] = bbl_inn1['team_total'] - bbl_inn1['total_runs_scored'] - bbl_inn1['runs_off_bat'] - bbl_inn1['extras']
bbl_inn1.drop(columns=['team_score'],inplace=True)
bbl_inn1[['team_total','runs_off_bat','ball','runs_remaining']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   team_total  runs_off_bat  ball  runs_remaining
0         139             0   0.1             139
1         139             0   0.2             139
2         139             4   0.3             135
3         139             0   0.4             135
4         139             0   0.5             135
5         139             0   0.6             135
6         139             0   1.1             135
7         139             0   1.2             135
8         139             4   1.3             131
9         139             4   1.4             127

In [ ]:
#Innings 2
bbl_inn2 = bbl[bbl['innings']==2]
bbl_inn2['team_score'] = bbl_inn2['total_runs_scored'] + bbl_inn2['runs_off_bat'] + bbl_inn2['extras']
bbl_inn1['team_score'] = bbl_inn1['total_runs_scored'] + bbl_inn1['runs_off_bat'] + bbl_inn1['extras']
trs2 = bbl_inn2.groupby(['match_id'])['team_score'].max().to_frame()
trs2.rename(columns={'team_score':'team_total'},inplace=True)
bbl_inn2 = pd.merge(trs2,bbl_inn2,on=["match_id"],how="inner")
trs1 = bbl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'target'},inplace=True)
bbl_inn2 = pd.merge(trs1,bbl_inn2,on=["match_id"],how="inner")
bbl_inn2['target']+=1
bbl_inn2['required_run_rate'] = (bbl_inn2['target'] - bbl_inn2['total_runs_scored'])/bbl_inn2['balls_remaining']
bbl_inn2['runs_remaining'] = bbl_inn2['team_total'] - bbl_inn2['total_runs_scored'] - bbl_inn2['runs_off_bat'] - bbl_inn2['extras']
bbl_inn2.drop(columns=['team_score'],inplace=True)
bbl_inn1.drop(columns=['team_score'],inplace=True)
bbl_inn2[['target','team_total','runs_off_bat','ball','runs_remaining','required_run_rate']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   target  team_total  runs_off_bat  ball  runs_remaining  required_run_rate
0     140         140             0   0.1             140           1.166667
1     140         140             0   0.2             140           1.176471
2     140         140             0   0.3             140           1.186441
3     140         140             0   0.4             140           1.196581
4     140         140             3   0.5             137           1.206897
5     140         140             1   0.6             136           1.191304
6     140         140             0   1.1             136           1.192982
7     140         140             4   1.2             132           1.203540
8     140         140             0   1.3             132           1.178571
9     140         140             0   1.4             132           1.189189

##BPL

In [ ]:
##Innings 1
bpl_inn1 = bpl[bpl['innings']==1]
bpl_inn1['team_score'] = bpl_inn1['total_runs_scored'] + bpl_inn1['runs_off_bat'] + bpl_inn1['extras']
trs1 = bpl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'team_total'},inplace=True)
bpl_inn1 = pd.merge(trs1,bpl_inn1,on=["match_id"],how="inner")
#remaining runs is number of runs scored after that ball 
bpl_inn1['runs_remaining'] = bpl_inn1['team_total'] - bpl_inn1['total_runs_scored'] - bpl_inn1['runs_off_bat'] - bpl_inn1['extras']
bpl_inn1.drop(columns=['team_score'],inplace=True)
bpl_inn1[['team_total','runs_off_bat','ball','runs_remaining']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   team_total  runs_off_bat  ball  runs_remaining
0         180             0   0.1             180
1         180             1   0.2             179
2         180             1   0.3             178
3         180             0   0.4             178
4         180             4   0.5             174
5         180             4   0.6             170
6         180             4   1.1             166
7         180             0   1.2             166
8         180             4   1.3             162
9         180             0   1.4             162

In [ ]:
#Innings 2
bpl_inn2 = bpl[bpl['innings']==2]
bpl_inn2['team_score'] = bpl_inn2['total_runs_scored'] + bpl_inn2['runs_off_bat'] + bpl_inn2['extras']
bpl_inn1['team_score'] = bpl_inn1['total_runs_scored'] + bpl_inn1['runs_off_bat'] + bpl_inn1['extras']
trs2 = bpl_inn2.groupby(['match_id'])['team_score'].max().to_frame()
trs2.rename(columns={'team_score':'team_total'},inplace=True)
bpl_inn2 = pd.merge(trs2,bpl_inn2,on=["match_id"],how="inner")
trs1 = bpl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'target'},inplace=True)
bpl_inn2 = pd.merge(trs1,bpl_inn2,on=["match_id"],how="inner")
bpl_inn2['target']+=1
bpl_inn2['required_run_rate'] = (bpl_inn2['target'] - bpl_inn2['total_runs_scored'])/bpl_inn2['balls_remaining']
bpl_inn2['runs_remaining'] = bpl_inn2['team_total'] - bpl_inn2['total_runs_scored'] - bpl_inn2['runs_off_bat'] - bpl_inn2['extras']
bpl_inn2.drop(columns=['team_score'],inplace=True)
bpl_inn1.drop(columns=['team_score'],inplace=True)
bpl_inn2[['target','team_total','runs_off_bat','ball','runs_remaining','required_run_rate']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   target  team_total  runs_off_bat  ball  runs_remaining  required_run_rate
0     181         158             0   0.1             158           1.508333
1     181         158             0   0.2             158           1.521008
2     181         158             0   0.3             158           1.533898
3     181         158             0   0.4             158           1.547009
4     181         158             1   0.5             157           1.560345
5     181         158             4   0.6             153           1.565217
6     181         158             1   1.1             152           1.543860
7     181         158             1   1.2             151           1.548673
8     181         158             0   1.3             151           1.553571
9     181         158             0   1.4             151           1.567568

##CPL

In [ ]:
##Innings 1
cpl_inn1 = cpl[cpl['innings']==1]
cpl_inn1['team_score'] = cpl_inn1['total_runs_scored'] + cpl_inn1['runs_off_bat'] + cpl_inn1['extras']
trs1 = cpl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'team_total'},inplace=True)
cpl_inn1 = pd.merge(trs1,cpl_inn1,on=["match_id"],how="inner")
#remaining runs is number of runs scored after that ball 
cpl_inn1['runs_remaining'] = cpl_inn1['team_total'] - cpl_inn1['total_runs_scored'] - cpl_inn1['runs_off_bat'] - cpl_inn1['extras']
cpl_inn1.drop(columns=['team_score'],inplace=True)
cpl_inn1[['team_total','runs_off_bat','ball','runs_remaining']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   team_total  runs_off_bat  ball  runs_remaining
0         169             0   0.1             169
1         169             0   0.2             168
2         169             0   0.2             168
3         169             4   0.3             164
4         169             2   0.4             162
5         169             1   0.5             161
6         169             1   0.6             160
7         169             0   1.1             160
8         169             0   1.2             160
9         169             0   1.3             160

In [ ]:
#Innings 2
cpl_inn2 = cpl[cpl['innings']==2]
cpl_inn2['team_score'] = cpl_inn2['total_runs_scored'] + cpl_inn2['runs_off_bat'] + cpl_inn2['extras']
cpl_inn1['team_score'] = cpl_inn1['total_runs_scored'] + cpl_inn1['runs_off_bat'] + cpl_inn1['extras']
trs2 = cpl_inn2.groupby(['match_id'])['team_score'].max().to_frame()
trs2.rename(columns={'team_score':'team_total'},inplace=True)
cpl_inn2 = pd.merge(trs2,cpl_inn2,on=["match_id"],how="inner")
trs1 = cpl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'target'},inplace=True)
cpl_inn2 = pd.merge(trs1,cpl_inn2,on=["match_id"],how="inner")
cpl_inn2['target']+=1
cpl_inn2['required_run_rate'] = (cpl_inn2['target'] - cpl_inn2['total_runs_scored'])/cpl_inn2['balls_remaining']
cpl_inn2['runs_remaining'] = cpl_inn2['team_total'] - cpl_inn2['total_runs_scored'] - cpl_inn2['runs_off_bat'] - cpl_inn2['extras']
cpl_inn2.drop(columns=['team_score'],inplace=True)
cpl_inn1.drop(columns=['team_score'],inplace=True)
cpl_inn2[['target','team_total','runs_off_bat','ball','runs_remaining','required_run_rate']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   target  team_total  runs_off_bat  ball  runs_remaining  required_run_rate
0     170         152             4   0.1             148           1.416667
1     170         152             1   0.2             147           1.394958
2     170         152             1   0.3             146           1.398305
3     170         152             4   0.4             142           1.401709
4     170         152             0   0.5             142           1.379310
5     170         152             0   0.6             142           1.391304
6     170         152             4   1.1             138           1.403509
7     170         152             0   1.2             138           1.380531
8     170         152             0   1.3             138           1.392857
9     170         152             0   1.4             138           1.405405

##PSL

In [ ]:
##Innings 1
psl_inn1 = psl[psl['innings']==1]
psl_inn1['team_score'] = psl_inn1['total_runs_scored'] + psl_inn1['runs_off_bat'] + psl_inn1['extras']
trs1 = psl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'team_total'},inplace=True)
psl_inn1 = pd.merge(trs1,psl_inn1,on=["match_id"],how="inner")
#remaining runs is number of runs scored after that ball 
psl_inn1['runs_remaining'] = psl_inn1['team_total'] - psl_inn1['total_runs_scored'] - psl_inn1['runs_off_bat'] - psl_inn1['extras']
psl_inn1.drop(columns=['team_score'],inplace=True)
psl_inn1[['team_total','runs_off_bat','ball','runs_remaining']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   team_total  runs_off_bat  ball  runs_remaining
0         128             0   0.1             128
1         128             0   0.2             128
2         128             0   0.3             128
3         128             0   0.4             128
4         128             0   0.5             128
5         128             0   0.6             128
6         128             0   1.1             128
7         128             1   1.2             127
8         128             2   1.3             125
9         128             0   1.4             125

In [ ]:
#Innings 2
psl_inn2 = psl[psl['innings']==2]
psl_inn2['team_score'] = psl_inn2['total_runs_scored'] + psl_inn2['runs_off_bat'] + psl_inn2['extras']
psl_inn1['team_score'] = psl_inn1['total_runs_scored'] + psl_inn1['runs_off_bat'] + psl_inn1['extras']
trs2 = psl_inn2.groupby(['match_id'])['team_score'].max().to_frame()
trs2.rename(columns={'team_score':'team_total'},inplace=True)
psl_inn2 = pd.merge(trs2,psl_inn2,on=["match_id"],how="inner")
trs1 = psl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'target'},inplace=True)
psl_inn2 = pd.merge(trs1,psl_inn2,on=["match_id"],how="inner")
psl_inn2['target']+=1
psl_inn2['required_run_rate'] = (psl_inn2['target'] - psl_inn2['total_runs_scored'])/psl_inn2['balls_remaining']
psl_inn2['runs_remaining'] = psl_inn2['team_total'] - psl_inn2['total_runs_scored'] - psl_inn2['runs_off_bat'] - psl_inn2['extras']
psl_inn2.drop(columns=['team_score'],inplace=True)
psl_inn1.drop(columns=['team_score'],inplace=True)
psl_inn2[['target','team_total','runs_off_bat','ball','runs_remaining','required_run_rate']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   target  team_total  runs_off_bat  ball  runs_remaining  required_run_rate
0     129         132             0   0.1             132           1.075000
1     129         132             0   0.2             132           1.084034
2     129         132             0   0.3             132           1.093220
3     129         132             2   0.4             130           1.102564
4     129         132             0   0.5             130           1.094828
5     129         132             4   0.6             126           1.104348
6     129         132             1   1.1             125           1.078947
7     129         132             0   1.2             125           1.079646
8     129         132             4   1.3             121           1.089286
9     129         132             1   1.4             120           1.063063

##IPL

In [ ]:
##Innings 1
ipl_inn1 = ipl[ipl['innings']==1]
ipl_inn1['team_score'] = ipl_inn1['total_runs_scored'] + ipl_inn1['runs_off_bat'] + ipl_inn1['extras']
trs1 = ipl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'team_total'},inplace=True)
ipl_inn1 = pd.merge(trs1,ipl_inn1,on=["match_id"],how="inner")
#remaining runs is number of runs scored after that ball 
ipl_inn1['runs_remaining'] = ipl_inn1['team_total'] - ipl_inn1['total_runs_scored'] - ipl_inn1['runs_off_bat'] - ipl_inn1['extras']
ipl_inn1.drop(columns=['team_score'],inplace=True)
ipl_inn1[['team_total','runs_off_bat','ball','runs_remaining']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   team_total  runs_off_bat  ball  runs_remaining
0         222             0   0.1             221
1         222             0   0.2             221
2         222             0   0.3             220
3         222             0   0.3             220
4         222             0   0.4             220
5         222             0   0.5             220
6         222             0   0.6             219
7         222             0   1.1             219
8         222             4   1.2             215
9         222             4   1.3             211

In [ ]:
#Innings 2
ipl_inn2 = ipl[ipl['innings']==2]
ipl_inn2['team_score'] = ipl_inn2['total_runs_scored'] + ipl_inn2['runs_off_bat'] + ipl_inn2['extras']
ipl_inn1['team_score'] = ipl_inn1['total_runs_scored'] + ipl_inn1['runs_off_bat'] + ipl_inn1['extras']
trs2 = ipl_inn2.groupby(['match_id'])['team_score'].max().to_frame()
trs2.rename(columns={'team_score':'team_total'},inplace=True)
ipl_inn2 = pd.merge(trs2,ipl_inn2,on=["match_id"],how="inner")
trs1 = ipl_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'target'},inplace=True)
ipl_inn2 = pd.merge(trs1,ipl_inn2,on=["match_id"],how="inner")
ipl_inn2['target']+=1
ipl_inn2['required_run_rate'] = (ipl_inn2['target'] - ipl_inn2['total_runs_scored'])/ipl_inn2['balls_remaining']
ipl_inn2['runs_remaining'] = ipl_inn2['team_total'] - ipl_inn2['total_runs_scored'] - ipl_inn2['runs_off_bat'] - ipl_inn2['extras']
ipl_inn2.drop(columns=['team_score'],inplace=True)
ipl_inn1.drop(columns=['team_score'],inplace=True)
ipl_inn2[['target','team_total','runs_off_bat','ball','runs_remaining','required_run_rate']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   target  team_total  runs_off_bat  ball  runs_remaining  required_run_rate
0     223          82             1   0.1              81           1.858333
1     223          82             0   0.2              80           1.865546
2     223          82             0   0.2              80           1.857143
3     223          82             1   0.3              79           1.872881
4     223          82             1   0.4              78           1.880342
5     223          82             0   0.5              78           1.887931
6     223          82             0   0.6              78           1.904348
7     223          82             0   1.1              78           1.921053
8     223          82             0   1.2              78           1.938053
9     223          82             0   1.3              74           1.955357

In [ ]:
t20s.to_csv("dummy_t20s.csv")

In [ ]:
t20s.shape[0]

146062

In [ ]:
t20s = pd.read_csv("/content/dummy_t20s.csv")

In [ ]:
t20s_inn1 = t20s[t20s['innings']==1]
print(t20s_inn1.shape[0])
t20s_inn2 = t20s[t20s['innings']==2]
t20s_inn2.shape[0]

76589

69336

##T20s

In [ ]:
##Innings 1
t20s_inn1 = t20s[t20s['innings']==1]
t20s_inn1['team_score'] = t20s_inn1['total_runs_scored'] + t20s_inn1['runs_off_bat'] + t20s_inn1['extras']
trs1 = t20s_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'team_total'},inplace=True)
t20s_inn1 = pd.merge(trs1,t20s_inn1,on=["match_id"],how="right")
#remaining runs is number of runs scored after that ball 
t20s_inn1['runs_remaining'] = t20s_inn1['team_total'] - t20s_inn1['total_runs_scored'] - t20s_inn1['runs_off_bat'] - t20s_inn1['extras']
t20s_inn1.drop(columns=['team_score'],inplace=True)
t20s_inn1[['team_total','runs_off_bat','ball','runs_remaining']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   team_total  runs_off_bat  ball  runs_remaining
0         131             1   0.1             130
1         131             0   0.2             130
2         131             0   0.3             130
3         131             2   0.4             128
4         131             0   0.5             128
5         131             0   0.6             128
6         131             1   1.1             127
7         131             0   1.2             127
8         131             0   1.3             127
9         131             0   1.4             126

In [ ]:
t20s_inn1.shape[0]

76589

In [ ]:
#Innings 2
t20s_inn2 = t20s[t20s['innings']==2]
t20s_inn2['team_score'] = t20s_inn2['total_runs_scored'] + t20s_inn2['runs_off_bat'] + t20s_inn2['extras']
t20s_inn1['team_score'] = t20s_inn1['total_runs_scored'] + t20s_inn1['runs_off_bat'] + t20s_inn1['extras']
trs2 = t20s_inn2.groupby(['match_id'])['team_score'].max().to_frame()
trs2.rename(columns={'team_score':'team_total'},inplace=True)
t20s_inn2 = pd.merge(trs2,t20s_inn2,on=["match_id"],how="inner")
trs1 = t20s_inn1.groupby(['match_id'])['team_score'].max().to_frame()
trs1.rename(columns={'team_score':'target'},inplace=True)
t20s_inn2 = pd.merge(trs1,t20s_inn2,on=["match_id"],how="inner")
t20s_inn2['target']+=1
t20s_inn2['required_run_rate'] = (t20s_inn2['target'] - t20s_inn2['total_runs_scored'])/t20s_inn2['balls_remaining']
t20s_inn2['runs_remaining'] = t20s_inn2['team_total'] - t20s_inn2['total_runs_scored'] - t20s_inn2['runs_off_bat'] - t20s_inn2['extras']
t20s_inn2.drop(columns=['team_score'],inplace=True)
t20s_inn1.drop(columns=['team_score'],inplace=True)
t20s_inn2[['target','team_total','runs_off_bat','ball','runs_remaining','required_run_rate']].head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   target  team_total  runs_off_bat  ball  runs_remaining  required_run_rate
0     180          79             0   0.1              79           1.500000
1     180          79             4   0.2              75           1.512605
2     180          79             0   0.3              75           1.491525
3     180          79             0   0.4              75           1.504274
4     180          79             4   0.5              71           1.517241
5     180          79             0   0.6              71           1.495652
6     180          79             4   1.1              67           1.508772
7     180          79             1   1.2              66           1.486726
8     180          79             0   1.3              66           1.491071
9     180          79             0   1.4              66           1.504505

#Convert all processed data to csv

In [ ]:
bbl_inn1.to_csv('bbl_inn1.csv')
bbl_inn2.to_csv('bbl_inn2.csv')
bpl_inn1.to_csv('bpl_inn1.csv')
bpl_inn2.to_csv('bpl_inn2.csv')
cpl_inn1.to_csv('cpl_inn1.csv')
cpl_inn2.to_csv('cpl_inn2.csv')
psl_inn1.to_csv('psl_inn1.csv')
psl_inn2.to_csv('psl_inn2.csv')
ipl_inn1.to_csv('ipl_inn1.csv')
ipl_inn2.to_csv('ipl_inn2.csv')
t20s_inn1.to_csv('t20s_inn1.csv')
t20s_inn2.to_csv('t20s_inn2.csv')